<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[%= title %]</title>
    <link rel="stylesheet/less" type="text/css" href="/static/app.less" />
    <script type="text/javascript" src="/static/less.js"></script>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/mustache.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    Hello world!

    <div id="boo">
        <!-- This area will be filled by JavaScript -->
    </div>

    <script id="tpl-boo" type="text/template">
        Hello world!
    </script>

    <script type="text/javascript" src="/static/app.js"></script>
</body>
</html>